.bigContainer {
  display: flex;
  flex-direction: row;
  border: solid 1px;
  justify-content: space-between;
  padding: 2rem;
}

.requestsContainer {
  /* border: solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  justify-content: start;
  margin-right: 2rem;
}
.chartContainer {
  border: solid green;
  width: 58rem;
  height: 26rem;
  position: sticky;
  top: 3rem;
}
